/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;700&family=Spartan:wght@400;700&display=swap");

/* Variables */
:root {
  --clr-grey-10: #323031;
  --clr-grey-5: #3d3b3c;
  --clr-grey-1: #7f7979;
  --clr-light-2: #f1e9da;
  --clr-white: #fffcf7;
  --ff-primary: "Spartan", sans-serif;
  --ff-secondary: "Rokkitt", serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 00.25rem;
}

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
@keyframes show {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* -------------
navigation-bar 
--------------*/

.nav-bar {
  min-height: 5rem;
}
.nav-link {
  float: left;
  padding: 2rem;
  color: var(--clr-grey-10);
  transition: var(--transition);
  /* background: var(--clr-light-2); */
  width: 40%;
  margin-left: 5%;
  text-align: center;
  /* width: 12rem; */
}

.nav-link:hover {
  transform: translateY(0.25rem);
}

@media screen and (min-width: 600px) {
  .nav-link {
    width: auto;
    margin: 0rem;
  }
}

/* -------------
header 
--------------*/
.header-img {
  max-width: 50vw;
  object-fit: cover;
  opacity: 0.8;
  margin-left: 25vw;
  padding-bottom: 2rem;
}

.header {
  width: 100%;
  transform: translateY(25vh);
  text-align: center;
  padding-bottom: 4rem;
  overflow-x: hidden;
}
.header h3 {
  font-family: var(--ff-primary);
  animation: slideFromRight 5s ease-in-out 1;
}
.header h4 {
  font-family: var(--ff-secondary);
  animation: slideFromLeft 5s ease-in-out 1;
}

@media screen and (min-width: 1000px) {
  .header-img {
    max-width: 600px;
    margin-left: 50%;
    transform: translateX(-300px);
  }
  .header h3 {
    font-size: 2.5rem;
  }
  .header h4 {
    font-size: 1.5rem;
  }
}

/* -------------
footer 
--------------*/

.footer-container {
  width: 100%;
  top: 100%;
  transform: translateY(-4rem);
  background: var(--clr-grey-10);
  height: 4rem;
  position: fixed;
  text-align: center;
  display: block;
}
.footer-container p {
  margin-top: 1.5rem;
}
